@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
:root {
    --Medio: #25d028;
    --fondo: #ffffff;
    --gris_oscuro: #333333;
    --black: #000000;
    --Azul_pastel: #ADD8E6;
    --Azul_oscuro: #00008B;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --colorfiltro: invert(63%) sepia(37%) saturate(5151%) 
    hue-rotate(80deg) brightness(110%) contrast(83%);
}
*{
    font-family: "Commissioner", sans-serif;
}
.navbar-logo{
    width: 125px;
    height: 125px;
    margin: 15px 15px 15px 15px;
    padding: 5px;
    border-radius: 30px;
  }
  #nav-principal{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-around;
      background-color: rgba(0, 0, 0, 0.8); 
      height: 130px;
      top: 0;
      
  }
  .navbar-left {
      flex-grow: 1;
  }

  .navbar-right{
      flex-grow: 2;
      
  }
  .navbar-left ul,
  .navbar-right ul {
      list-style: none;
      padding: 0;
      margin: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      
  }
  .navbar-user, .navbar-shopping-cart{
      filter:  invert(29%) sepia(6%) saturate(6491%) hue-rotate(205deg) brightness(106%) contrast(93%);
  
  }
  
  
  
  .navbar-left ul li a,.navbar-right ul li a{
      text-decoration: none;
      padding: 4px;
      color:   #4e4ea5;
      font-size: var(--lg);
     text-transform: uppercase;
  
  }
  .navbar-left ul li, .navbar-right ul li{
      margin: 10px;
  
  }
  .navbar-right .button_menu{
   margin: 5px;
   padding: 5px;
  }
  .menu_icon{
      height: 50px;
      height: 50px;
  }
  .navbar-right .button_menu input, .menu_icon{
      display: none;
  }
body{
    background-color: var(--fondo);
    margin: auto;
    width: 100%;
    height: 100vh;
    
}
h1{
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}
form{
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}
form input{
    width: 100%;
    margin: 10px 0 10px 0;
    min-height: 2em;
    border-radius: 5px;
    padding: 5px;
}
input{
    background-color:   #4e4ea5;
    border: 1px solid #0a0a23;
    color: #ffffff;
  
}
label{
    text-transform: uppercase;
}
.password-container {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative; 
    
}   
.bx {
    font-size: 2.5vw; /* Utilizar unidades vw para el tamaño del icono */
    position: absolute; /* Establecer posición absoluta para el icono */
    right: 10px;
    cursor: pointer; 
}

input[type="password"] {
    width: calc(100% - 40px); 
    padding-right: 50px;
}
footer{
    background-color: rgba(0, 0, 0, 0.8); 
    position: relative; /* Agrega posicionamiento relativo al footer */
    max-height: 200px;
    
}
.letrero{
    background-color: #4e4ea5;
    position: absolute;
    top: -30px; /* Ajusta la posición del letrero en relación con el footer */
    left: 20px; 
    box-shadow:  8px 5px 0 rgba(0, 0, 0, 0.3) ;
    border-radius: 15px;
    margin-bottom: 10px; 
    padding: 10px 5px 0 0;
    color: #fff;
    font-size: 10.8px;
    
}

.RedesSociales ul{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-top: 30px;
  


}
.facebook_logo a, .whatsapp_logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 20px;
    color: white;
    
}
.facebook_logo , .whatsapp_logo {
    margin:10px;
    list-style: none;

}
.facebook_logo img, .whatsapp_logo img{
    margin: 10px;
 

}
.RedesSociales .facebook_logo a:hover{
    border-radius: 10px;
    border: 5px solid #4267B2 ;
   background: #4267B2;
    color: #fff; 
}
.RedesSociales .whatsapp_logo a:hover{
    border-radius: 5px;
    border: 5px solid #075E54 ;
    background: #075E54;
    color: #fff; 
}