@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
:root {
    --morado: #4e4ea5;;
    --fondo: #ffffff;
    --gris_oscuro: #333333;
    --black: #000000;
    --Azul_pastel: #ADD8E6;
    --Azul_oscuro: #00008B;
    --sm: 14px;
    --md: 18px;
    --lg: 21px;
    --colorfiltro: invert(29%) sepia(6%) saturate(6491%) hue-rotate(205deg) brightness(106%) contrast(93%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Commissioner", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

}
.navbar-logo{
  width: 125px;
  height: 125px;
  padding: 5px;
  margin: 15px 15px 15px 50px;
  border-radius: 30px;
}
#nav-principal{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8); 
    height: 130px;
    top: 0;
}
.navbar-left {
    flex-grow: 1;
}
.navbar-right{
    flex-grow: 2;
    
}
.navbar-left ul,
.navbar-right ul {
    
    list-style: none;
    padding: 0;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    
}
.navbar-user, .navbar-shopping-cart{
    filter:  invert(29%) sepia(6%) saturate(6491%) hue-rotate(205deg) brightness(106%) contrast(93%);
}
.navbar-left ul li a,.navbar-right ul li a {
    text-decoration: none;
    padding: 4px;
    color:  var(--fondo);
    font-size: var(--lg);
    text-transform: uppercase;
    background-color: inherit;
}
.drop-down-menu .drop-down-button{
    font-size: var(--lg);
    text-transform: uppercase;
    background-color: inherit;
    color: var(--fondo);
    padding: 1rem 1rem;
    border: none;
}
.drop-down-button:hover,.navbar-left ul li a:hover,.navbar-right ul li a:hover {
    float: none;
    color: var(--fondo);
    padding:1rem 1rem;  
    display: block;
    border-bottom: 5px var(--morado) solid;
}
.drop-down-menu-content{
    display: none;
    position: absolute;
    background-color: var(--morado);
    min-width: 10rem;

    box-shadow: 0 .0rem 1rem 0 rgba(0, 0, 0, 0.2);
    z-index:1;

}
.drop-down-menu-content a{
    float: none;
    color: var(--black);
    padding: 1rem 1rem;
    margin-bottom: 10px;
    display: block;
}
.drop-down-menu-content:hover {
    background-color: var(--morado);
    color: white;

}
.drop-down-menu:hover .drop-down-menu-content{
    display: block;
}

.navbar-left ul li, .navbar-right ul li{
    margin: 10px;

}
.navbar-right .button_menu{
 margin: 5px;
 padding: 5px;
}
.menu_icon{
    height: 50px;
    height: 50px;
}
.navbar-right .button_menu input, .menu_icon{
    display: none;
}
/* end-navbar //// */
/* begin principal  */
h1{
    text-align: center;
}
.container{
  flex: 1;
  margin: 30px;

}
.products-container{
    margin: 10px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   justify-content: center;
}
.product-card{
    margin: 20px;
    border: 10px outset var(--morado);
}
.product-details{
    text-align: center;
    font-size: var(--md);
    font-weight: bold;
}

footer{
    background-color: rgba(0, 0, 0, 0.8); 
    position: relative; /* Agrega posicionamiento relativo al footer */
    max-height: 200px;
    width: 100%;
}
.letrero{
    background-color: #4e4ea5;
    position: absolute;
    top: -30px; /* Ajusta la posición del letrero en relación con el footer */
    left: 20px; 
    box-shadow:  8px 5px 0 rgba(0, 0, 0, 0.3) ;
    border-radius: 15px;
    margin-bottom: 10px; 
    padding: 10px 5px 0 0;
    color: #fff;
    font-size: 10.8px;
    
}

.RedesSociales ul{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-top: 30px;
    

}
.facebook_logo a, .whatsapp_logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 20px;
    color: white;
    width: 100%;
}
.facebook_logo , .whatsapp_logo {
    margin:10px;
    list-style: none;

}
.facebook_logo img, .whatsapp_logo img{
    margin: 10px;
 

}
.RedesSociales .facebook_logo a:hover{
    border-radius: 10px;
    outline: 5px solid #4267B2 ;
     background: #4267B2;
    color: #fff; 
}
.RedesSociales .whatsapp_logo a:hover{
    border-radius: 5px;
    outline: 5px solid #075E54 ;
    background: #075E54;
    color: #fff; 
}

@media screen and (width <= 768px) {
    body{
        margin-top: 130px;
        width: 100%;
    }
    #nav-principal{
        position: fixed;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .navbar-logo {
        width: 100px;
        height: 100px;
        margin: 5px;
        padding: auto;
    }
    .navbar-left ul {
        position: fixed;
        width: 69%;
        top: 129px;
        left: -100%;
        height: 100vh;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;  
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
    } 
    .menu_icon{
        display: block;
        filter: var(--colorfiltro);
    }
    .navbar-left ul li a,.navbar-right ul li a{
        padding: 2px;
        color: white;
        font-size: var(--md);
        text-transform: uppercase;
         
    }
   
    .navbar-user img, .navbar-shopping-cart img{
        width: 35px;
        height: 35px;
    
    }
    .RedesSociales ul p{
        font-size: 10px;
    } 
    .facebook_logo a, .whatsapp_logo a{
        display: block;
        margin: 1px;


    }
    
}

